.main-content {
  width: 100%;
  margin: 0 auto;

  background-image: url('../assets/images/bg-top-right.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;

} 

.main-content h2 {
  text-align: center;
  color: #3F3D56;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} 

.back {
  display: inline-block;
  margin: 10px 10px 10px 0;
  border: 1px solid #eee;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: rgba(51, 68, 149, 0.3);
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}


.back:hover {
  border: 1px solid #eee;
  background-color: #996430;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
