.main-content {
  width: 100%;
  margin: 0 auto;

  background-image: url('../assets/images/bg-top-right.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 8rem contain;

} 

.main-content h2 {
  text-align: left;
  color: #3F3D56;
  text-transform: uppercase;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-text{
  padding: 10px;
  line-height: 40px;
  text-align: center;
  width: 50%;
}

.container-text p {
  color: #999999;
  text-align: left;
}

.container-text h2{
  color: #3F3D56;
  margin-left: 93px;
}

.title{
  color: #3F3D56;
}

.description{
  padding: 0px 90px 0px 90px;
}

.container-mobile{
  width: 50%;
  
  background-image: url('../assets/images/bubbles.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain; 
}

.container-mobile img{
  justify-content: right;
}

.container-elevation{
  display: flex;
  width: 100%;
  margin-top: 5px; 
  background-color: transparent;
}

.container-elevation img{
  width: 100%;
}

.container-buttons{
  width: 100%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  margin: 50px 0px 0px 20px;
  border: 1px solid #eee;
  border-radius: 26px;
  width: 200px;
  text-align: center;
  padding: 0px 10px 0px 10px; 
  background-color: #6760E5;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border: 1px solid #6760E5;
  background-color: #ffffff;
  text-decoration: none;
  color: #6760E5;
  transition: all 0.3s ease-in-out;
}

