#news {
  margin-top: 50px;
}

.news {
  background-color: rgba(51, 68, 149, 1);
  color: #ffffff;
  font-size: xx-large;
  padding: 10px
}

.containerNews{
  border-bottom: 1px dotted #996430;
  padding: 10px 0px 10px 0px;
  flex-direction: column;
  background-color: rgba(51, 68, 149, 0);
  transition: all ease-in-out 0.3s;
}

.containerNews:hover {
  border-bottom: 1px solid #996430;
  padding: 10px 0px 10px 0px;
  flex-direction: column;
  background-color: rgba(51, 68, 149, 0.2);
  transition: all ease-in-out 0.3s;
}

.containerImageBody{
  display: flex;
  margin-top: 20px;
}

.body{
  margin-left: 20px;
}

.header {
  text-align: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
}

.published {
  color: rgba(51, 68, 149, 1);
  margin-left: 10px;
}

.image img {
  width: 120px;
  height: 120px;
  transition: all ease-in-out 0.3s;
}

.image img:hover {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  transition: all ease-in-out 0.3s;
}

a {
  text-decoration: none;
  color: #333333;
}